<div 
  class="relative flex items-center justify-between text-sm px-3 py-1.5"
  [class.hover:bg-[rgb(var(--color-surface-hover))]]="!isDisabled()"
  [class.cursor-pointer]="!isDisabled()"
  [class.text-[rgb(var(--color-text-muted))]]="!isDisabled()"
  [class.cursor-not-allowed]="isDisabled()"
  [class.text-[rgb(var(--color-text-disabled))]]="isDisabled()"
  (click)="selectDestination()"
  (mouseenter)="isSubmenuOpen.set(true)"
  (mouseleave)="isSubmenuOpen.set(false)">
  
  <span class="truncate">{{ node().name }}</span>

  @if(hasFolderChildren()) {
    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-2 text-[rgb(var(--color-text-subtle))]" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
    </svg>
  }

  @if (isSubmenuOpen() && hasFolderChildren()) {
    <div class="absolute left-full top-0 -mt-1 w-48 bg-[rgb(var(--color-surface-dialog))] border border-[rgb(var(--color-border-base))] rounded-md shadow-lg py-1 z-10">
      @for (child of folderChildren(); track child.name) {
        <app-destination-node
          [node]="child"
          [path]="getChildPath(child)"
          [currentSourcePath]="currentSourcePath()"
          (destinationSelected)="onChildSelected($event)">
        </app-destination-node>
      }
    </div>
  }
</div>
